# 対応するブラウザを指定する。bable(JSの構文変換), postcssでautoprefixer(cssの構文変換)で読み込まれている。
# 通常はdefaults。詳しくはhttps://github.com/browserslist/browserslist#best-practices

defaults

# defaults以外を指定したい場合はこちらを参照。cover99.5%でダメなら多分コードを変えないとダメ。 https://github.com/browserslist/browserslist#full-list
# cover 99.5%
