@use '@scss/colors' as colors;

h2 {
  color: colors.$shokkingPink;
  transition: all 1s;

  &:hover {
    color: yellow;
    transform: translateX(50px);
  }
}

.bg {
  height: 50px;
  color: 'red';
  background-image: url('~@assets/img/sample-jpeg.jpeg');
}
