h2 {
  color: red;
  transition: all 1s;

  &:hover {
    transform: translateX(50px);
    color: yellow;
  }
}

.bg {
  color: "red";
  height: 50px;
  background-image: url("./assets/img/sample-jpeg.jpeg");
}
